
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
  }
  
  
  #myInput {
    box-sizing: border-box;
    padding: 10px 12px 10px 35px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid rgb(167, 166, 166);}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd; color:rgb(86, 212, 170)}
  
  .show {display: block;}